.menu {font-size: 20px;      font-style:oblique;
    cursor: pointer;
    padding: 20px;
    background-color: white;
    color: black;
    position: fixed;
    left: 10px;
    z-index: 2000;
border-radius: 10px 10px;
list-style: none;
    display: flex;
    padding: 20px;
    border-radius: 10px 10px;
}
/* Menu Lateral */
.fundo {
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela inicialmente */
    width: 170px;
    height: 500vh;
    background-color:whitesmoke;
    transition: left 0.5s;
    z-index: 1000;
    border-radius: 10px 10px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.botão-fechar-X {float: right;
    position: relative;right: 10px;top: 10px;
    background: none;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
}
.animação ul li a:hover {
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    text-decoration: underline;
    width: 100px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 5px black;
    padding: 10px;
    color: red;
    text-decoration: none;
    display: block;
    border-radius: 10px 10px;
    margin-bottom: 10px;
}
body{text-align: center;justify-content: center;align-items: center;margin: auto;background:linear-gradient(to right,white,black,white);}
h1{font-size: 30px;font-family: Arial, Helvetica, sans-serif;font-style: oblique;text-shadow: 8px;text-decoration: underline;color: white;}
h2{font-size: 20px;font-family: Arial, Helvetica, sans-serif;font-style: italic;text-shadow: 8px;color: black;}
p{font-size: 15px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-style: initial;text-shadow: 8px;color: white;}
a{text-decoration: none;font-size: 15px;}
ul{list-style-type: none;text-align: left;text-shadow: 8px;}
dl{padding: 6px;}
dt{padding: 6px;text-align: left;font-size: 20px;font-family: fantasy;font-style: oblique;text-shadow: 8px;}
dd{padding: 6px;text-align: left;font-size: 15px;font-family: Arial, Helvetica, sans-serif;font-style: inherit;text-shadow: 8px;}
thead{font-size: 20px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-style: oblique;text-shadow: 8px;text-align: left;}
tbody{font-size: 15px;font-family: initial;font-style: italic;text-shadow: 8px;text-align: left;}
tfoot{font-size: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-style: initial;text-shadow: 8px;text-align: left;}
summary{cursor: pointer;text-shadow: 8px;padding: 5px;width: 220px;margin: auto;border-radius: 10px 10px;}
section{margin: auto;border-radius: 10px 10px;width: 300px;padding: 20px;align-items: center;justify-content: center;text-align: center;border: 6px solid blue;}
header{margin: auto;border-radius: 10px 10px;width: 300px;padding: 20px;align-items: center;justify-content: center;text-align: center;border: 6px solid white;}
nav{margin: auto;border-radius: 10px 10px;width: 300px;padding: 20px;align-items: center;justify-content: center;text-align: center;border: 6px solid gray;}
footer{margin: auto;border-radius: 10px 10px;width: 300px;padding: 20px;align-items: center;justify-content: center;text-align: center;border: 6px solid black;}
.img:hover{transform: scale(1.03);transition: transform (0.5s);}
.section:hover{transform: scale(1.04);transition: transform(0.6s);}
.footer:hover{transform: scale(1.06);transition: transform(0.3s);}
.nav:hover{transform: scale(1.03);transition: transform(0.4s);}
.curses:hover{transform: scale(1.02);transition: transform(0.5s);}
.footer:hover{transform: scale(1.01);transition: transform(0.4s);}
.summary:hover{transform: scale(1.03);transition: transform(0.6s);}